.bg-img {
background-image: url('img/Box.png');
background-size: cover;
overflow: hidden;
text-align: center;
}

@media screen and (min-width: 576px) {
.my-carousel .carousel-inner {
display: flex;
width: 90%;
margin-inline: auto;
padding: 1em 0;
overflow: hidden;
}
.my-carousel .carousel-item {
display: block;
margin-right: 0;
flex: 0 0 calc(100% / 2);
}
}

@media screen and (min-width: 768px) {
.my-carousel .carousel-item {
display: block;
margin-right: 0;
flex: 0 0 calc(100% / 3);
}
}

.my-carousel .carousel-control-prev,
.my-carousel .carousel-control-next {
width: 3rem;
height: 3rem;
top: 50%;
transform: translateY(-50%);
}
